body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}
.fa-thumbs-up, .fa-thumbs-down, .fa-trash {
  cursor: pointer;
  margin-left: 8px;
}
.fa-thumbs-up:hover   { color: #28a745; }
.fa-thumbs-down:hover { color: #dc3545; }
.fa-trash:hover       { color: #ff9800; }